header{
background-image: url(img/fond.jpg);
    background-size: cover;
    height: 415px;
    background-position: center;
}


nav{
    padding-top: 20px;
text-align: center;
    background-color: rgba(255,255,255,0,3);
    font-size:  1.5em;
    
}
nav li{
    font-family: Kaushan Script;
    color: white;
display: inline-block;
    margin: 0 20px;
}
#offre{
text-align: center;
    color: white;
    background-color: 	#DDA0DD;
    opacity: 0.4;
    
}
h5{
padding-bottom: 4px;
    padding-top: 4px;
}



h3{
    font-family: Kaushan Script;
    padding-top: 10px;
text-align: center;
    color: white;
    font-size: 2em;
}
#h41{
text-align: center;
}
#h42{
text-align: center;
    padding-right: 290px;
}

#p1{
    font-family: Playfair Display;
display: inline-block;
    padding-left: 325px;
    padding-right: 20px;

}

#img1{
display: inline-block;
    float: left;
    width: 290px;
    height: 150px;
    position: relative;
    bottom: 142px;
    padding-left: 20px;
    
}
#p2{
    font-family: Playfair Display;
display: inline-block;
    padding-right: 325px;
    padding-left: 20px;

}

#img2{
display: inline-block;
   float: right;
    width: 300px;
    height: 150px;
    position: relative;
    bottom: 142px;
    padding-right: 20px;
    
}
#div1{
    padding-top: 50px;
padding-bottom: 70px;
}
#trait{
border: 0.5px solid #FF00FF;
    margin-left: 100px;
    margin-right: 100px;
}
#div2{
padding-top: 50px;
    padding-bottom: 50px;
}

#mauve{
background-color: #BA55D3;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
}

h4{
text-align: center;
    color: white;
    
}
.pictur{
width: 150px;
    height: 150px;
    padding-left: 150px;
}
.para{
    font-family: Playfair Display;
    margin-right: 30px;
    margin-left: 40px;
color: white;
    text-align: center;
}

footer{
background-color: #BA55D3; 
}

#fin{
    text-align: center;
    font-size: 13px;
    color: white;
    
}
#academy{
display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    padding-top: 15px;
}
a{
color: white;
}

i{
    font-size: 17px;
    color: white;
display: block;
    position: absolute;
    top: 30px;
    padding-left: 29px;
}


